.headerAvtarImg{
	display: block;
	border: 1px solid #2a2a2a;
	margin: 5px;
}
.headerAvtarImgAnchor{
	background-color: #666;
	display: block;
	margin: 0px 0 -28px 3px;
	width: 60px;
	float: left;
}
.marqueeAvtar{
	color: brown;
	font-size: xx-large;
	font-family: -webkit-body;
	margin-top: 8px;
	overflow: hidden;
	width: 90%;
}

.sectionArea {
  	position: relative;
	width: 300px;
	height: 196px;
	margin: 0 28px 30px 10px;
	float: left;
	position: relative;
	background: #9e99c4;
	overflow: hidden;
	opacity: .65;
	text-align: center;
	border: 1px solid #ccc;
}
.sectionTitle {
  	width: 100%;
	display: inline-block;
	margin-top: 15px;
	padding: 5px;
	font-size: 26px;
	letter-spacing: 1px;
	color: brown;
	text-shadow: 2px 2px grey;
	font-size: 34px;
	font-weight: bolder;
}
footer{
	position: fixed;
	bottom: 0;
	width: 85%;
	padding-bottom: 0;
	margin-bottom: 0;
}
article {
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 7px;
	float:left;
}
div.content{
	height: 346px;
	overflow: auto;
	overflow-x:hidden;
	
}
.frameTitle {
  position: absolute;
	width: 100%;
	bottom: 0;
	background: rgba(0,0,0,.8);
	padding: 5px;
	text-align: center;
	color: brown;
	text-transform: capitalize;
	height: 34px;
	line-height: 28px;
	font-family: -webkit-pictograph;
	font-size: x-large;
}